<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Home", root_path %> | 
      <% if user_signed_in? %>
        <%= link_to "Archived articles", archived_articles_path %>
        |
        <%= current_user.email %> 
        <% if current_user.admin? %>
          (admin)
        <% end %>
        |
        <%= link_to "Log out", destroy_user_session_path, 
                               method: :delete, 
                               data: { confirm: "Are you sure?" } %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
